### Ignore the input data: 

*/data/
snakemake-tutorial/advances_example/data
*/mapped_reads
*/sorted_reads
*/calls

#snakemake-tutorial/advances_example/data

### Ignore all .snake

*.snakemake

snakemake-tutorial/advances_example/data
snakemake-tutorial/advances_example/scripts
